[user]
	name = Andrea Signorelli
	email = spirit.info300@gmail.com

[core]
	autocrlf = true
	editor = code --wait

[init]
	defaultBranch = main

[color]
	ui = auto

[pull]
	rebase = false

[push]
	default = simple